EXCHANGE_API_KEY = your_exchangerate_host_api_key
STOCK_API_KEY = your_alpha_vantage_api_key
EXCHANGE_API_URL = https://api.exchangerate.host/latest
STOCK_API_URL = https://www.alphavantage.co/query

DATABASE_HOST=localhost     # Хост для базы данных
DATABASE_USER=username      # Имя пользователя базы данных
DATABASE_PASSWORD=password  # Пароль базы данных
DATABASE_NAME=mydatabase

