# API ключ для получения курса валют
CURRENCY_API_KEY=your_currency_api_key_here

# API ключ для получения цен акций
STOCK_API_KEY=your_stock_api_key_here

DATABASE_HOST=localhost     # Хост для базы данных
DATABASE_USER=username      # Имя пользователя базы данных
DATABASE_PASSWORD=password  # Пароль базы данных
DATABASE_NAME=mydatabase

